{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/test.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>
<body>
	<div class="header" id="topheader">
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
			<div class="container" >
				<a class="navbar-brand" href="#">COVID-19 Reporter</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav ml-auto">
				<li class="nav-item active">
				  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				{% if user.is_authenticated %}
				<li class="nav-item active">
					<a class="nav-link" href="accounts/logout">Logout</a>
				  </li>
				 {% else %} 
				<li class="nav-item active">
				  <a class="nav-link" href="accounts/login">Login</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="accounts/signup">Signup</a>
				  </li>
				{% endif %}  
			  </ul>
			</div>
			</div>
		  </nav>

		<section class="header-section">
			<div class="center-div">
				<h1 class="font-weight-bold">
					{% if user.is_authenticated %}
					Hi {{user.username}}!<br>
					{%endif%}
					Report the cases here.</h1>
				<p>
				<h5>Just fill your information below.</h5>
				</p>
				<div class="header-buttons">
					<a href="#aboutus">AboutUs</a>
					<a href="fillinfo">Forms</a>
					<a href="listings">See your listings</a>
				</div>
			</div>
		</section>  
	</div>

	<section class="updates">
		<h1 class="text-center font-weight-bold">Important Updates!</h1>	
	</section>

	<div>
		<section class="header-extradiv">
			<div class="container" id="aboutus">
				<div class="row">
					{%for news in News%}
					<div class="col-md-4 up">
						<a href="#"></a>
						<h2>{{news.heading}}</h2>
						<p>{{news.desc}}</p>
					</div>
					{%endfor%}
					<div class="col-md-4 up">
						<a href="#"></a>
						<h2>Safe</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, a. Temporibus voluptatem enim ullam neque exercitationem delectus nihil! Ex iste fuga suscipit incidunt. Tempora perspiciatis omnis, pariatur enim repudiandae dignissimos!</p>
					</div>
					<div class="col-md-4 up">
						<a href="#"></a>
						<h2>Fast</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, a. Temporibus voluptatem enim ullam neque exercitationem delectus nihil! Ex iste fuga suscipit incidunt. Tempora perspiciatis omnis, pariatur enim repudiandae dignissimos!</p>
					</div>
					<div class="col-md-4 up">
						<a href="#"></a>
						<h2>Easy</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, a. Temporibus voluptatem enim ullam neque exercitationem delectus nihil! Ex iste fuga suscipit incidunt. Tempora perspiciatis omnis, pariatur enim repudiandae dignissimos!</p>
					</div>
				</div>
			</div>
		</section>

	</div>

	<section class="count">
		<div class="container-heading text-center">
			<h1 class="text-center font-weight-bold">Current total cases</h1>	
		</div>
		<div class="container d-flex justify-content-around">
			<div>
				<h1>40,000</h1>
				<p>Total cases</p>
			</div>
			<div>
				<h1>22,000</h1>
				<p>Recovered</p>
			</div>
			<div>
				<h1>18,000</h1>
				<p>Active</p>
			</div>
		</div>
	</section>

	<section class="myform" id = "myform">
		<div class="container-heading text-center">
			<h2 class="text-center font-weight-bold">Fill this form and report now!</h2>	
		</div>
		<div class="container">
			<form action="/action_page.php">
				<div class="form-group">
				  <label for="name">Name of patient:</label>
				  <input type="text" class="form-control" id="name" required>
				</div>
				<div class="form-group">
				  <label for="address">Address:</label>
				  <input type="text" class="form-control" id="address" required>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
					  <label for="city">City</label>
					  <input type="text" class="form-control" id="city" required>
					</div>
					<div class="form-group col-md-2">
					  <label for="zip">Zip</label>
					  <input type="text" class="form-control" id="zip" required>
					</div>
				  </div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</section>

	<footer class="myfooter" id="myfooter">
		<div class="container">
			<div class="row">
				<div class = "tynote">
					<h4>We will reach out to you as soon as possible!</h4>
					<h6>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt assumenda libero blanditiis ad suscipit, veritatis expedita placeat quasi sit magnam, laudantium laborum debitis voluptatem ab minus reiciendis. Nobis, sint quod!</h6>
				</div>
			</div>
		</div>
	</footer>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>	
</body>
</html>